.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Form styles */

form {
 display: grid;
 
}

input[type=text],
input[type=email] {
  display: block;
  width: 100%;
}

input[type=submit] {
  padding: 10px;
  border: none;
  background-color: rgba(160,214,180, 1);
  transition: all 0.2s ease-in-out;
  margin: 30px 0 10px;
  font-variant: small-caps;
  font-size: 1em;
  color: white;
}

input[type=submit]:hover {
  cursor: pointer;
  background-color: #11998e;
}

label > input[type=checkbox] {
  cursor: pointer;
}

.form__group:not(:first-child) {
    margin-top: 20px;
}

.form__field {
  font-family: inherit;
  font-size: 0.9em;
  width: 100%;
  border: 0;
  border-bottom: 1px solid black;
  outline: 0;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field.error {
  border-bottom-color: red;
  border-bottom-width: 2px;
}
.form__field.error:after {
  content: "!";
}

.form__field__error-msg {
  color: red;
  font-size: 0.75em;
  margin: 5px 0;
}
ul.form__field__error-msg {
  padding: 0;
  list-style-type: none;
}

.form__field:focus {
  padding-bottom: 6px;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}

.form__label { 
  font-variant: small-caps;
}
.form__checkboxLabel {
  font-size: 0.9em;
  margin-top: 20px;
  display: block;
}

/* reset input */
.form__field:required, 
.form__field:invalid {
  box-shadow: none;
}
.form__submit:hover,
.form__submit:focus {
  outline: none;
}

